@layout MainLayout
@page "/"
@inherits SubWeb.Client.Pages.CodeBehind.Home




<div class="sidebar sticky-top">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="@UriHelper.GetBaseUri()">SubWeb</a>
        <button class="navbar-toggler @(NavItems.Count() > 0 ? "border-warning" : "")" onclick="@ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
        <ul class="nav flex-column">
            @foreach (var navItem in NavItems)
            {
                <li class="nav-item px-3">
                    <a class="@(navItem.IsDefault ? "nav-link active" : "nav-link")" href="@navItem.Uri">
                        <span class="@(navItem.Type == Model.NavType.Directory ? "oi oi-project" : "")" aria-hidden="true"></span>
                        @navItem.Title
                    </a>
                </li>
            }
        </ul>
    </div>
</div>


<div class="main">
    <div class="content px-4">

        @if (!string.IsNullOrWhiteSpace(ExceptionMessage))
        {
            <p class="text-danger">@ExceptionMessage</p>
        }


        @if (IsLoading)
        {
            <div class="spinner-overlay">
                <div class="spinner-container text-center">
                    <div class="spinner-grow text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        }


        @if (!ShowingHtml)
        {
            <div class="alert-info p-3 text-break">
                <p><strong>SubWeb</strong> is an online tool to generate html pages from markdown files hosted in a Github repository. </p>
                <p>
                    To convert and load markdown pages hosted in a Github repository, enter a github project url in the format @UriHelper.GetBaseUri().TrimEnd('/')/{git.username}/{git.repository} in the browser address bar.
                    For example, to load https://github.com/@SampleRepo repository, enter url as
                    <a href="@SampleRepo">@UriHelper.GetBaseUri().TrimEnd('/')/@SampleRepo</a>
                </p>
                <p>
                    <label for="basic-url">Alternately, enter the github project path in the following text box and press Load.</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">https://github.com/</span>
                        </div>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" aria-label="aspnet/aspnetcore" bind="@GitProjUri" />
                        <a id="loadRepoBtn" class="btn btn-primary ml-sm-1" href="@GitProjUri">Load</a>
                    </div>
                </p>
            </div>
            <br />
            <p>
                Following are the top @StarredRepos.Count() most starred github projects under @DefaultRepoUser repository. To access the markdown pages, simply click on the repository/project name below.
                Click on <span class="small oi oi-external-link"></span> icon to access the github repository.
            </p>

            foreach (var repo in StarredRepos)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="@repo.FullName">@repo.FullName</a>
                            <span class="badge-primary p-1 rounded-lg">@repo.StargazersCount <span class="oi oi-star small"></span></span>
                            <a class="small ml-1" href="@("https://github.com/" + repo.FullName)" target="_blank">
                                <span class="small oi oi-external-link"></span>
                            </a>
                        </h5>
                        <p class="card-text">@repo.Description</p>
                    </div>
                </div>
            }
        }



        @if (!string.IsNullOrWhiteSpace(ConvHtml))
        {
            <article class="markdown-body mb-5">


                @((MarkupString)ConvHtml)
            </article>
        }

    </div>
</div>
